@import "tailwindcss";

@theme {
  --color-brand-primary: #10b981;
  --color-brand-secondary: #047857;
}

:root {
  --background: #09090b;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Hide default cursor globally */
* {
  cursor: none !important;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(16, 185, 129, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: #34d399;
  box-shadow: 0 0 15px rgba(52, 211, 153, 0.8);
}